@import "../../sass/mixins";

.footer {
  padding: 2.5rem 0 1rem;

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;

    @include tablet {
      grid-template-columns: 1fr 1fr;
      row-gap: 1.5rem;
    }

    @include mobile {
      grid-template-columns: 1fr;
      row-gap: 1.5rem;
    }

    .main {
      a {
        font-size: 2rem;
        color: var(--primary-color);
        margin-bottom: 1.25rem;
        font-weight: 800;
      }

      p {
        margin-bottom: 0.75rem;
        font-size: 0.95rem;
      }

      .socials {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
      }
    }

    h3 {
      font-size: 1.75rem;
      margin-bottom: 1.25rem;
    }

    ul {
      list-style-type: none;

      li {
        margin-bottom: 0.75rem;

        a {
          font-size: 0.95rem;

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }

  .copyright {
    padding-top: 1.5rem;
    text-align: center;
    font-size: 0.9rem;

    a {
      color: var(--primary-color);
      text-decoration: underline;
    }
  }
}
