@import "../../sass/mixins";

.div {
  padding: 2.5rem 0;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.75rem;
    align-items: center;

    @include mobile {
      grid-template-columns: 1fr;
      row-gap: 1.5rem;
    }

    .left {
      @include mobile {
        order: 2;
      }

      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 2rem;
      }

      .companies {
        display: flex;
        align-items: center;
        column-gap: 1.5rem;
        row-gap: 0.75rem;
        flex-wrap: wrap;

        div {
          display: flex;
          align-items: center;
          column-gap: 0.5rem;
          font-size: 0.95rem;

          img {
            width: 25px;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        order: 1;
      }

      img {
        width: 85%;
        max-width: 500px;
      }
    }
  }
}
