@import "../sass/mixins";

.page {
  padding: 2rem 0;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 1rem;

    @include mobile {
      grid-template-columns: 1fr;
      column-gap: 2rem;
    }

    .left {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 85%;
        max-width: 500px;
      }
    }

    .right {
      background-color: rgba(200, 200, 200, 0.2);
      padding: 1rem;
      border-radius: 0.25rem;

      @include mobile {
        background-color: transparent;
      }
      h2 {
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
        margin-bottom: 0.75rem;
      }

      .intro {
        font-size: 0.95rem;
        text-align: center;

        a {
          color: var(--primary-color);
        }
      }

      .google {
        margin: 1.5rem 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 0.75rem;
        border: 1.5px solid #555;
        padding: 0.5rem 0;
        border-radius: 0.25rem;
        background-color: transparent;
        font-weight: 500;
      }

      .or {
        text-align: center;
        font-size: 0.9rem;
        font-weight: 500;
        margin: 1.5rem 0;
      }
    }
  }
}
