@import "../../sass/mixins";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mobile {
    display: none;
  }

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    column-gap: 1rem;

    li {
      a {
        font-size: 0.95rem;
        text-transform: capitalize;
        font-weight: 500;
        padding: 0 0.5rem;

        &.active {
          color: var(--primary-color);
        }

        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }
}
