.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--body-color);
  z-index: 3;
  overflow: hidden;
  animation: fadeIn 300ms linear 1;

  ul {
    width: 95%;
    margin: 6rem auto 0;
    list-style-type: none;

    li {
      margin-bottom: 1rem;
      text-align: center;

      a {
        display: block;
        padding: 0.75rem;
        border-radius: 0.25rem;
        text-transform: capitalize;
        font-size: 0.95rem;
        font-weight: 500;

        &.active {
          color: var(--primary-color);
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
