@import "../../app/sass/mixins";

.job {
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.25rem;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;

    .bookmark {
      align-self: flex-start;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    .company {
      display: flex;
      align-items: center;
      column-gap: 0.75rem;

      .name {
        h4 {
          font-size: 1rem;
          font-weight: 500;
        }

        p {
          font-size: 0.9rem;
          font-weight: 300;
        }
      }

      img {
        align-self: flex-start;
        width: 25px;
        height: 25px;
      }
    }
  }

  .body {
    margin: 0.75rem 0;

    h3 {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    span {
      font-size: 0.95rem;
      font-weight: 300;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .info {
      display: none;
      align-items: center;
      column-gap: 0.5rem;

      @include tablet {
        display: flex;
      }

      div {
        font-size: 0.9rem;
        padding: 0.75rem;
        border-radius: 0.25rem;
        background-color: #f3f3f3;
      }
    }

    a {
      font-size: 0.95rem;
      padding: 0.5rem 0.75rem;
      border-radius: 0.25rem;
      background-color: var(--primary-color);
      color: #fff;
      border: 1px solid transparent;

      &:hover {
        border-color: var(--primary-color);
        color: var(--primary-color);
        background-color: transparent;
      }
    }
  }
}
